/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Roboto", sans-serif;
    background-color: #0d1b2a;
}

h1 {
    color: #E0E1DD;
}